OVERRIDE_HOSTNAME=mail.example.com
DOMAIN_NAME=example.com
POSTMASTER_ADDRESS=postmaster@example.com
ENABLE_SPAMASSASSIN=0
ENABLE_RSPAMD=1
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=1
ENABLE_POSTGREY=0
ENABLE_SASLAUTHD=0
ONE_DIR=1
TLS_LEVEL=modern
SSL_TYPE=manual
SSL_CERT_PATH=/etc/letsencrypt/live/example.com/fullchain.pem
SSL_KEY_PATH=/etc/letsencrypt/live/example.com/privkey.pem
